img {
    border-radius: 25px;
    width: 100px;
    height: 100px;


}

.Component-box {
    display: flex;
    align-items: center;
    width: 100%;
    border: 5px solid #000000;
    border-radius: 25px;
    justify-content: space-around;
    margin: 20px;

}

.btn-remove {
    width: 70px;
    height: 70px;
    background: url(../image/remove.png) no-repeat center;
    background-size: cover;
    display: block;

}

.btn-add {
    width: 70px;
    height: 70px;
    background: url(../image/add.png) no-repeat center;
    background-size: cover;
    display: block;

}